- form_for :buster, :url => "/admin/buster/all", :method => :post do |f|
  = f.submit('Reset All Caches', :confirm => "Are you sure you want to reset everything?")

%hr

- @busters.each do |cache|
  %div{ :style => "width:100%" }
    - form_for :buster, :url => "/admin/buster/all", :method => :post do |f|
      = hidden_field 'name', cache.name
      %div{ :style => "width:90%" }
        %h4<=cache.name.capitalize
      %div{ :style => "float:right" }
        = f.submit('Reset')
